.container {
  display: grid;
  grid-template-areas:
    "red gray"
    "blue gray";
  width: 300px;
  height: 200px;
  border: black 1px solid;
}

.red {
  grid-area: red;
}

.blue {
  grid-area: blue;
}

.gray {
  grid-area: gray;
}
